<!--wrapper-->
<div class="wrapper">
    <!-- Navbar -->
    <app-header></app-header>
    <!-- /.navbar -->
  
    <!-- Main Sidebar Container -->
    <app-left-sidebar></app-left-sidebar>
  
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Main content: The routed views render in the <router-outlet>-->
      <router-outlet></router-outlet>
      <!--/. Content-->
    </div>
    <!-- /.content-wrapper -->
  
    <!--footer Wrapper-->
    <app-footer></app-footer>
    <!--/.footer Wrapper-->
  
  </div>
  <!-- ./wrapper -->